<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Editing Menu Item</h1>
        <div class="well">
            <%= render 'form' %>
            
            <!--<%= link_to 'Show', @menu_item %> |-->
            <%= link_to 'Back', menu_items_path %>
        </div>
    </div>
</div>